*{
    margin: 0px;
    padding: 0px;
}

h1{
    background-color: #081b31;
    color: white;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 160px;
    width: 160px;
    border-radius: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 3rem;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;

}